@import './base.css';

body {
  background-color: #f5f0ff;
  color: #34495E;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.05rem;
}

h2 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.02rem;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}


a {
  text-decoration: none;
  color: #34495E;
  transition: 0.4s;
}

.container {
  min-height: 100vh;
  width: 100vw;
}

.content {
  width: 80%;
  min-width: 800px;
  margin: 0 auto;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
  padding: 50px;
}

.content.active {
  transform: translateY(0);
  opacity: 1;
}


@media (min-width: 1024px) {
  body {
    display: flex;

  }

}